# SQLite Project: Preparing Data For SQLite and Creating Relations In SQLite

## 1: Preparing Data For SQLite

### Introduction To The Data

We'll work with data on Academy Award nominations csv file. Here are the columns in the dataset, academy_awards.csv:
- Year: the year of the awards ceremony.
- Category: the category of award the nominee was nominated for.
- Nominee: the person nominated for the award.
- Additional Info: this column contains additional info like: the movie the nominee participated in; the character the nominee played (for acting awards).
- Won?: this column contains either YES or NO depending on if the nominee won the award.

#### Read and explore the data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('academy_awards.csv',encoding='ISO-8859-1')

In [3]:
data.columns

Index(['Year', 'Category', 'Nominee', 'Additional Info', 'Won?', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [4]:
data.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# explore if any of them have valid values that we need
unnamed_columns = list(data.columns)[5:]
unnamed_columns

['Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10']

In [6]:
for elem in unnamed_columns:
    print(data[elem].value_counts)

<bound method Series.value_counts of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
10107    NaN
10108    NaN
10109    NaN
10110    NaN
10111    NaN
10112    NaN
10113    NaN
10114    NaN
10115    NaN
10116    NaN
10117    NaN
10118    NaN
10119    NaN
10120    NaN
10121    NaN
10122    NaN
10123    NaN
10124    NaN
10125    NaN
10126    NaN
10127    NaN
10128    NaN
10129    NaN
10130    NaN
10131    NaN
10132    NaN
10133    NaN
10134    NaN
10135    NaN
10136    NaN
Name: Unnamed: 5, dtype: object>
<bound method Series.value_counts of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
10107    NaN
10108    NaN
10109    NaN
10110    NaN
10111    NaN
10112    NaN
10113    NaN
10114    NaN
10115    NaN
10116    NaN
10117    NaN
10118    NaN
10119    NaN
10120    NaN
10121    NaN
10122    NaN
10123    NaN
10124    NaN
10125    NaN
10126    NaN
10127    NaN
10128    NaN
10129    NaN
10130    NaN
10131    NaN
10132    NaN
10133    NaN
10134    NaN
10135    NaN
10136    NaN
Name: Unnamed: 6, dtype: object>
<bound method Series.value_counts of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
10107    NaN
10108    NaN
10109    NaN
10110    NaN
10111    NaN
10112    NaN
10113    NaN
10114    NaN
10115    NaN
10116    NaN
10117    NaN
10118    NaN
10119    NaN
10120    NaN
10121    NaN
10122    NaN
10123    NaN
10124    NaN
10125    NaN
10126    NaN
10127    NaN
10128    NaN
10129    NaN
10130    NaN
10131    NaN
10132    NaN
10133    NaN
10134    NaN
10135    NaN
10136    NaN
Name: Unnamed: 7, dtype: object>
<bound method Series.value_counts of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
10107    NaN
10108    NaN
10109    NaN
10110    NaN
10111    NaN
10112    NaN
10113    NaN
10114    NaN
10115    NaN
10116    NaN
10117    NaN
10118    NaN
10119    NaN
10120    NaN
10121    NaN
10122    NaN
10123    NaN
10124    NaN
10125    NaN
10126    NaN
10127    NaN
10128    NaN
10129    NaN
10130    NaN
10131    NaN
10132    NaN
10133    NaN
10134    NaN
10135    NaN
10136    NaN
Name: Unnamed: 8, dtype: object>
<bound method Series.value_counts of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
10107    NaN
10108    NaN
10109    NaN
10110    NaN
10111    NaN
10112    NaN
10113    NaN
10114    NaN
10115    NaN
10116    NaN
10117    NaN
10118    NaN
10119    NaN
10120    NaN
10121    NaN
10122    NaN
10123    NaN
10124    NaN
10125    NaN
10126    NaN
10127    NaN
10128    NaN
10129    NaN
10130    NaN
10131    NaN
10132    NaN
10133    NaN
10134    NaN
10135    NaN
10136    NaN
Name: Unnamed: 9, dtype: object>
<bound method Series.value_counts of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
10107    NaN
10108    NaN
10109    NaN
10110    NaN
10111    NaN
10112    NaN
10113    NaN
10114    NaN
10115    NaN
10116    NaN
10117    NaN
10118    NaN
10119    NaN
10120    NaN
10121    NaN
10122    NaN
10123    NaN
10124    NaN
10125    NaN
10126    NaN
10127    NaN
10128    NaN
10129    NaN
10130    NaN
10131    NaN
10132    NaN
10133    NaN
10134    NaN
10135    NaN
10136    NaN
Name: Unnamed: 10, dtype: object>

#### Filtering the data

In [7]:
# only take the first 4 numbers in the Year column
data["Year"] = data["Year"].str[0:4]
# convert Year from string to integers
data["Year"] = data["Year"].astype("int64")
# only select rows with Year newer than 2000
later_than_2000 = data[data["Year"] > 2000]

In [8]:
# we are only interested in certain award category
award_categories = ["Actor -- Leading Role","Actor -- Supporting Role", "Actress -- Leading Role", "Actress -- Supporting Role"]
nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

#### Cleaning the Data

In [9]:
# replace all NO values with 0 and all YES values with 1 in the Won? column
replacements = { "NO": 0, "YES": 1 }
nominations["Won?"] = nominations["Won?"].map(replacements)

# Create a new column Won
nominations["Won"] = nominations["Won?"]
drop_cols = ["Won?","Unnamed: 5", "Unnamed: 6","Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]
final_nominations = nominations.drop(drop_cols, axis=1)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### Cleaning Up The Additional Info Column

In [10]:
# split the Additional Info into Movie and its character
additional_info_one = final_nominations["Additional Info"].str.rstrip("'}")
additional_info_two = additional_info_one.str.split(" {'")
movie_names = additional_info_two.str[0]
characters = additional_info_two.str[1]
final_nominations["Movie"] = movie_names
final_nominations["Character"] = characters
final_nominations = final_nominations.drop("Additional Info", axis=1)
final_nominations

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston
5,2010,Actor -- Supporting Role,Christian Bale,1,The Fighter,Dicky Eklund
6,2010,Actor -- Supporting Role,John Hawkes,0,Winter's Bone,Teardrop
7,2010,Actor -- Supporting Role,Jeremy Renner,0,The Town,James Coughlin
8,2010,Actor -- Supporting Role,Mark Ruffalo,0,The Kids Are All Right,Paul
9,2010,Actor -- Supporting Role,Geoffrey Rush,0,The King's Speech,Lionel Logue
10,2010,Actress -- Leading Role,Annette Bening,0,The Kids Are All Right,Nic
11,2010,Actress -- Leading Role,Nicole Kidman,0,Rabbit Hole,Becca
12,2010,Actress -- Leading Role,Jennifer Lawrence,0,Winter's Bone,Ree
13,2010,Actress -- Leading Role,Natalie Portman,1,Black Swan,Nina Sayers/The Swan Queen
14,2010,Actress -- Leading Role,Michelle Williams,0,Blue Valentine,Cindy
15,2010,Actress -- Supporting Role,Amy Adams,0,The Fighter,Charlene Fleming
16,2010,Actress -- Supporting Role,Helena Bonham Carter,0,The King's Speech,Queen Elizabeth
17,2010,Actress -- Supporting Role,Melissa Leo,1,The Fighter,Alice Ward
18,2010,Actress -- Supporting Role,Hailee Steinfeld,0,True Grit,Mattie Ross
19,2010,Actress -- Supporting Role,Jacki Weaver,0,Animal Kingdom,Janine 'Smurf' Cody
135,2009,Actor -- Leading Role,Jeff Bridges,1,Crazy Heart,Bad Blake
136,2009,Actor -- Leading Role,George Clooney,0,Up in the Air,Ryan Bingham
137,2009,Actor -- Leading Role,Colin Firth,0,A Single Man,George
138,2009,Actor -- Leading Role,Morgan Freeman,0,Invictus,Nelson Mandela
139,2009,Actor -- Leading Role,Jeremy Renner,0,The Hurt Locker,Staff Sergeant William James
140,2009,Actor -- Supporting Role,Matt Damon,0,Invictus,Francois Pienaar
141,2009,Actor -- Supporting Role,Woody Harrelson,0,The Messenger,Captain Tony Stone
142,2009,Actor -- Supporting Role,Christopher Plummer,0,The Last Station,Tolstoy
143,2009,Actor -- Supporting Role,Stanley Tucci,0,The Lovely Bones,George Harvey
144,2009,Actor -- Supporting Role,Christoph Waltz,1,Inglourious Basterds,Col. Hans Landa
...,...,...,...,...,...,...
1040,2002,Actress -- Leading Role,Salma Hayek,0,Frida,Frida Kahlo
1041,2002,Actress -- Leading Role,Nicole Kidman,1,The Hours,Virginia Woolf
1042,2002,Actress -- Leading Role,Diane Lane,0,Unfaithful,Connie Sumner
1043,2002,Actress -- Leading Role,Julianne Moore,0,Far from Heaven,Cathy Whitaker
1044,2002,Actress -- Leading Role,Renée Zellweger,0,Chicago,Roxie Hart
1045,2002,Actress -- Supporting Role,Kathy Bates,0,About Schmidt,Roberta Hertzel
1046,2002,Actress -- Supporting Role,Julianne Moore,0,The Hours,Laura Brown
1047,2002,Actress -- Supporting Role,Queen Latifah,0,Chicago,Matron Mama Morton
1048,2002,Actress -- Supporting Role,Meryl Streep,0,Adaptation,Susan Orlean
1049,2002,Actress -- Supporting Role,Catherine Zeta-Jones,1,Chicago,Velma Kelly
1157,2001,Actor -- Leading Role,Russell Crowe,0,A Beautiful Mind,John Nash
1158,2001,Actor -- Leading Role,Sean Penn,0,I Am Sam,Sam Dawson
1159,2001,Actor -- Leading Role,Will Smith,0,Ali,Muhammad Ali
1160,2001,Actor -- Leading Role,Denzel Washington,1,Training Day,Alonzo
1161,2001,Actor -- Leading Role,Tom Wilkinson,0,In the Bedroom,Matt Fowler
1162,2001,Actor -- Supporting Role,Jim Broadbent,1,Iris,John Bayley
1163,2001,Actor -- Supporting Role,Ethan Hawke,0,Training Day,Jake
1164,2001,Actor -- Supporting Role,Ben Kingsley,0,Sexy Beast,Don Logan
1165,2001,Actor -- Supporting Role,Ian McKellen,0,The Lord of the Rings: The Fellowship of the Ring,Gandalf
1166,2001,Actor -- Supporting Role,Jon Voight,0,Ali,Howard Cosell
1167,2001,Actress -- Leading Role,Halle Berry,1,Monster's Ball,Leticia Musgrove
1168,2001,Actress -- Leading Role,Judi Dench,0,Iris,Iris Murdoch
1169,2001,Actress -- Leading Role,Nicole Kidman,0,Moulin Rouge,Satine
1170,2001,Actress -- Leading Role,Sissy Spacek,0,In the Bedroom,Ruth Fowler
1171,2001,Actress -- Leading Role,Renée Zellweger,0,Bridget Jones's Diary,Bridget Jones
1172,2001,Actress -- Supporting Role,Jennifer Connelly,1,A Beautiful Mind,Alicia Nash
1173,2001,Actress -- Supporting Role,Helen Mirren,0,Gosford Park,Mrs. Wilson
1174,2001,Actress -- Supporting Role,Maggie Smith,0,Gosford Park,"Constance, Countess of Trentham"
1175,2001,Actress -- Supporting Role,Marisa Tomei,0,In the Bedroom,Natalie Strout
1176,2001,Actress -- Supporting Role,Kate Winslet,0,Iris,Young Iris Murdoch

#### Exporting the Data To SQLite

In [ ]:
import sqlite3
conn = sqlite3.connect("nominations.db")
final_nominations.to_sql("nominations", conn, index=False)

#### Verifying In SQL

In [ ]:
query_one = "pragma table_info(nominations);"
query_two = "select * from nominations limit 10;"
print(conn.execute(query_one).fetchall())
print(conn.execute(query_two).fetchall())
conn.close()

### 2: Creating relations in SQLite

#### Review the data

In [14]:
import sqlite3
conn = sqlite3.connect("nominations.db")
schema = conn.execute("pragma table_info(nominations);").fetchall()
first_ten = conn.execute("select * from nominations limit 10;").fetchall()

for r in schema:
    print(r)
    
for r in first_ten:
    print(r)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)
(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

#### Creating the ceremonies table

In [15]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]
create_ceremonies = "create table ceremonies (id integer primary key, year integer, host text);"
conn.execute(create_ceremonies)
insert_query = "insert into ceremonies (Year, Host) values (?,?);"
conn.executemany(insert_query, years_hosts)

print(conn.execute("select * from ceremonies limit 10;").fetchall())
print(conn.execute("pragma table_info(ceremonies);").fetchall())

[(1, 2010, 'Steve Martin'), (2, 2009, 'Hugh Jackman'), (3, 2008, 'Jon Stewart'), (4, 2007, 'Ellen DeGeneres'), (5, 2006, 'Jon Stewart'), (6, 2005, 'Chris Rock'), (7, 2004, 'Billy Crystal'), (8, 2003, 'Steve Martin'), (9, 2002, 'Whoopi Goldberg'), (10, 2001, 'Steve Martin')]
[(0, 'id', 'integer', 0, None, 1), (1, 'year', 'integer', 0, None, 0), (2, 'host', 'text', 0, None, 0)]

#### Foreign key constraints

In [16]:
conn.execute("PRAGMA foreign_keys = ON;")

#### Setting up one-to-many

In [17]:
create_nominations_two = '''create table nominations_two 
(id integer primary key, 
category text, 
nominee text, 
movie text, 
character text, 
won text,
ceremony_id integer,
foreign key(ceremony_id) references ceremonies(id));
'''

nom_query = '''
select ceremonies.id as ceremony_id, nominations.category as category, 
nominations.nominee as nominee, nominations.movie as movie, 
nominations.character as character, nominations.won as won
from nominations
inner join ceremonies 
on nominations.year == ceremonies.year
;
'''
joined_nominations = conn.execute(nom_query).fetchall()

conn.execute(create_nominations_two)

insert_nominations_two = '''insert into nominations_two (ceremony_id, category, nominee, movie, character, won) 
values (?,?,?,?,?,?);
'''

conn.executemany(insert_nominations_two, joined_nominations)
print(conn.execute("select * from nominations_two limit 5;").fetchall())

[(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1), (2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', '0', 1), (3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', '0', 1), (4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', '1', 1), (5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', '0', 1)]

#### Deleting and renaming tables

In [18]:
drop_nominations = "drop table nominations;"
conn.execute(drop_nominations)

rename_nominations_two = "alter table nominations_two rename to nominations;"
conn.execute(rename_nominations_two)

#### Creating a join table

In [19]:
create_movies = "create table movies (id integer primary key,movie text);"
create_actors = "create table actors (id integer primary key,actor text);"
create_movies_actors = '''create table movies_actors (id INTEGER PRIMARY KEY,
movie_id INTEGER references movies(id), actor_id INTEGER references actors(id));
'''
conn.execute(create_movies)
conn.execute(create_actors)
conn.execute(create_movies_actors)

#### Populating the movies and actors tables